.ad {
	border-top: 1px solid #ccc;
	padding: 30px 0;

	> div {
		@extend %container;

		img {
			@extend %shadow;
			width: 100%;
		}

		.placeholder {
			@extend %shadow;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 150px;
			padding: 0 15px;
			background: #fff;
			color: $primaryColor;
			font-size: 32px;
			font-weight: bold;
			text-align: center;
		}
	}
}