.codeline {
	padding: 30px 0;
	background: #333;
	color: #fff;
	font-family: Droid Sans Mono, monospace;

	> div {
		@extend %wideContainer;
		display: flex;
		justify-content: space-between;
		align-items: center;

		code {
			word-break: break-all;
		}

		.fb-like {
			@media (max-width: $mobileWidth) {
				display: none;
			}
		}
	}
}