.footer {
	padding: 30px 0;

	> div {
		@extend %wideContainer;
		display: flex;
		flex-direction: column;
		align-items: center;

		p {
			margin-bottom: 15px;
			font-size: 20px;
		}

		ul {
			display: flex;
			list-style: none;
			
			li:not(:first-child) {
				margin-left: 15px;
			}
		}
	}
}