.header a {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	padding: 50px 15px;
	background: $primaryColor url('imgs/header.jpg') center/cover;
	color: #fff;

	@media (max-width: $mobileWidth) {
		flex-direction: column-reverse;
	}

	&:hover {
		text-decoration: none;
	}

	h1 {
		line-height: 68px;
		font-size: 88px;

		@media (max-width: $mobileWidth) {
			line-height: 34px;
			text-align: center;
			font-size: 46px;
		}
	}

	img {
		height: 130px;

		@media (min-width: $mobileWidth) {
			height: 200px;
			margin-right: 28px;
		}
	}
}