.main {
	> h2 {
		@extend %hidden;
	}

	.nav {
		@extend %wideContainer;
		text-align: center;
		overflow: hidden;

		@include desktop {
			overflow: auto;

			label {
				display: none;
			}
		}

		h3 {
			@extend %hidden;
		}

		[type="checkbox"] {
			@extend %hidden;

			@include mobile {
				~ label {
					display: block;
					padding: 15px;
					cursor: pointer;

					&:before, &:after {
						content: "▼";
						display: inline-block;
						transition: transform .5s ease-in-out;
					}

					&:before {
						margin-right: 2px;
					}

					&:after {
						margin-left: 2px;
					}
				}

				~ div {
					max-height: 0;
					transition: max-height .5s ease-in-out;
				}

				&:checked {
					~ label {
						&:before {
							transform: rotate(180deg);
						}

						&:after {
							transform: rotate(-180deg);
						}
					}

					~ div {
						max-height: 500px;
					}
				}
			}
		}

		ul {
			list-style: none;
			display: inline-flex;
			align-content: center;

			@include mobile {
				display: flex;
				flex-direction: column;
			}

			.current-menu-item a {
				@include desktop {
					border-top-color: #333;
				}

				@include mobile {
					background: #333;
					color: #fff;
				}
			}

			a {
				display: block;
				padding: 15px;
				color: #333;
				text-decoration: none;

				@include desktop {
					border-top: 5px solid transparent;
				}
			}
		}
	}

	.posts {
		@extend %container;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;

		@include desktop {
			margin-top: 30px;
		}

		.faq {
			flex-basis: 100%;
			margin-bottom: 15px;

			a {
				@extend %shadow;
				display: flex;
				justify-content: space-between;
				align-items: center;
				font-size: 16px;
				text-decoration: none;

				@include desktop() {
					font-size: 40px;
				}

				> * {
					padding: 15px 30px;

					&:first-child {
						flex: 1;
						background: $primaryColor;
						color: #fff;
					}
				}
			}
		}

		article {
			@extend %shadow;
			display: flex;
			flex-direction: column;
			margin-bottom: 30px;
			background: #fff;

			@include desktop {
				flex-basis: 49%;
			}

			&:first-of-type, &:nth-of-type(6) {
				flex-basis: 100%;
			}

			&:not(:first-of-type) header .meta li:last-child {
				display: none;
			}

			&.type-post {
				border-top: 3px solid #aaa;
				
				&.category {
					// Languages
					&-cpp {
						border-color: #669ad3;
					}
					
					&-csharp {
						border-color: #813787;
					}

					&-java {
						border-color: #dd4f39;
					}

					&-php {
						border-color: #669;
					}

					&-html-i-css {
						border-color: #ef8d24;
					}

					&-javascript {
						border-color: #f0db4f;
					}

					&-python {
						border-color: #346e9e;
					}

					// Other
					&-meta {
						border-color: #c13636;
					}
				}
			}

			header {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 15px;

				h3 {
					font-size: 24px;
				}

				.meta {
					margin-left: 15px;
					list-style: none;
					color: #aaa;
					text-align: right;

					li {
						display: inline-block;

						@include mobile {
							&:last-child {
								display: none;
							}
						}

						a {
							color: #333;
						}
					}
				}
			}

			.image img {
				width: 100%;
			}

			.content {
				// @see post-content.scss
				@extend %clearfix;
				flex: 1;
				position: relative;
				padding: 15px 15px 74px; // 2*15px + 44px (height of read more button)
				text-align: justify;

				@at-root {
					.single & {
						padding-bottom: 15px;
					}
				}

				.more-link {
					position: absolute;
					right: 15px;
					bottom: 15px;
					display: inline-block;
					padding: 10px 15px;
					background: $primaryColor;
					color: #fff;
					text-decoration: none;
					transition: all .3s;

					&:hover {
						background: darken($primaryColor, 15%);
					}
				}
			}

			.bio {
				@extend %clearfix;
				padding: 15px;
				background: #eee;

				img {
					width: 100px;
					height: 100px;
					float: left;
					margin-right: 15px;
				}

				h3 {
					font-size: 22px;
				}

				p {
					margin-top: 5px;

					&.blank {
						color: #666;
						font-style: italic;
					}
				}
			}

			.comments {
				padding: 15px;

				h3 {
					margin-bottom: 15px;
					font-size: 22px;
				}
			}
		}
	}

	.pagination {
		margin-bottom: 30px;
		text-align: center;

		h2 {
			@extend %hidden;
		}

		.nav-links {
			@extend %shadow;
			display: inline-flex;
			justify-content: center;
			flex-wrap: wrap;

			.current, a {
				display: block;
				padding: 10px 15px;
				background: #fff;
				color: $primaryColor;
			}

			a {
				background: $primaryColor;
				color: #fff;
				text-decoration: none;
				transition: all .3s;

				&:hover {
					background: darken($primaryColor, 15%);
				}
			}
		}
	}
}
