@import 'variables';

@mixin mobile() {
	@media (max-width: $mobileWidth) {
		@content;
	}
}

@mixin desktop() {
	@media (min-width: $mobileWidth) {
		@content;
	}
}

@mixin wide() {
	@media (min-width: 1921px) {
		@content;
	}
}

%container {
	margin-left: auto;
	margin-right: auto;
	max-width: $containerWidth - 30;
	padding-left: 15px;
	padding-right: 15px;
}

%wideContainer {
	@extend %container;

	@include wide {
		max-width: 1600px;
	}
}

%hidden {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

%clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

%shadow {
	box-shadow: 0 3px 15px -3px rgba(0, 0, 0, .3);
}