@import 'mixins';

#tinymce.wp-editor {
	* {
		margin: 0;
		padding: 0;
	}

	a {
		color: $primaryColor;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.posts article .content, #tinymce.wp-editor {
	line-height: 1.5;
	word-break: break-word;

	:not(:last-child):not(li):not(code) { 
		margin-bottom: 15px;
	}

	.gist * {
		margin-bottom: 0 !important;
	}

	ul, ol {
		list-style-position: inside;
	}

	blockquote {
		border-left: 5px solid #ccc;
		padding-left: 15px;
		color: #666;
		font-style: italic;
	}

	code {
		display: inline-block;
		border: 1px solid lighten($primaryColor, 50%);
		border-radius: 3px;
		padding: 0 3px;
		background: lighten($primaryColor, 60%);
	}

	.embed-youtube { // Iframely seems to not display YouTube embed responsively
		position: relative;
		height: 0;
		padding-top: 25px;
		padding-bottom: 56.25%;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.gist {
		max-width: calc(100vw - 4 * 15px);

		@include desktop {
			max-width: 1110px; // 1170px - 4 * 15px
		}
	}

	.align {
		&right {
			float: right;
			margin: 10px 0 10px 10px;
		}

		&left {
			float: left;
			margin: 10px 10px 10px 0;
		}
	}

	.rules {
		counter-reset: rules;
		list-style: none;
		text-align: left;

		li {
			position: relative;
			padding: 10px 20px 10px 60px;
			line-height: 20px;

			&:not(:last-child) {
				margin-bottom: 15px;
			}

			&:target {
				background: #f3f3f3;

				&:before {
					background: #ee1d23;
				}
			}

			&:before {
				display: flex;
				justify-content: center;
				align-items: center;
				content: counter(rules);
				counter-increment: rules;
				position: absolute;
				top: 0;
				left: 0;
				width: 40px;
				height: 100%;
				background: $primaryColor;
				color: #fff;
				line-height: 40px;
			}
		}
	}
}