/*!
Theme Name: nastoletni.pl Theme
Author: Albert221
Author URI: http://albert221.net
Text Domain: nastoletnitheme
*/

@import 'mixins';
@import 'header';
@import 'codeline';
@import 'main';
@import 'post-content';
@import 'ad';
@import 'footer';

*, :before, :after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	font-family: inherit;
}

html {
	box-sizing: border-box;
	background: #f3f3f3;
	color: #333;
	font: 16px Source Sans Pro, Arial, sans-serif;
}

a {
	color: $primaryColor;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

img {
	max-width: 100%;
}